<ion-item class="ion-no-padding ion-reset-height ion-no-padding-end item-user" button="true"
  detail="false" [lines]="lines">

  <ion-avatar class="ion-align-self-start" slot="start">
    <ion-img [src]="user.profilePicture"></ion-img>
  </ion-avatar>
  <div>
    <ion-text class="ion-block ion-text-large ion-font-bold text-name">{{ user.name }}</ion-text>
    <ion-text class="ion-block ion-text-light">{{ user.institute.name }}</ion-text>
    <ion-text class="ion-block ion-text-small ion-margin-top-vertical-half" *ngIf="user.mutualFriends > 0"
      color="primary">{{ user.mutualFriends }} mutual friends</ion-text>
  </div>

  <ion-button *ngIf="canAdd" class="ion-no-margin ion-reset-height" slot="end" color="transparent" part="native">
    <ion-icon class="icon-add-user" slot="icon-only" color="primary" src="../../../assets/icon/icon-add-user.svg">
    </ion-icon>
  </ion-button>

</ion-item>