<ion-card class="ion-no-margin ion-no-border-radius ion-padding ion-no-padding-bottom">

  <ion-card-header class="ion-no-padding">
    <ion-item class="ion-no-padding ion-reset-height ion-no-padding-end" lines="none" detail="false">
      <h6 class="ion-card-heading">People you may know</h6>
    </ion-item>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">

    <ion-list class="ion-border-bottom ion-last-item-full-border">
      <app-suggested-user-item *ngFor="let user of users; index as i" [user]="user" 
      [lines]="i == users.length - 1 ? 'full' : 'inset'" [canAdd]="true"></app-suggested-user-item>
    </ion-list>

    <div class="btn-see-more ion-flex ion-align-items-center ion-justify-content-center">
      <ion-button class="ion-no-margin" color="transparent">
        <ion-text class="ion-text-light" color="primary">See more</ion-text>
      </ion-button>
    </div>

  </ion-card-content>

</ion-card>