// #region | Border Radius |
.ion-border-radius-small {
    border-radius: var(--ion-border-radius-s);
}

.ion-border-radius {
    border-radius: var(--ion-border-radius);
}

.ion-no-border-radius {
    border-radius: unset;
}
// #endregion

// #region | Flex |
.ion-flex {
    display: flex;
}
// #endregion

// #region | Padding |
.ion-padding-horizontal-half {
    padding-left: unset;
    padding-inline-start: calc(var(--ion-padding) / 2);

    padding-right: unset;
    padding-inline-end: calc(var(--ion-padding) / 2);
}

.ion-padding-top {
    --padding-top: calc(var(--ion-padding-vertical) / 2);
    padding-top: calc(var(--ion-padding-vertical) / 2);
}

.ion-padding-bottom {
    --padding-bottom: calc(var(--ion-padding-vertical) / 2);
    padding-bottom: calc(var(--ion-padding-vertical) / 2);
}

.ion-padding-vertical-half {
    --padding-top: calc(var(--ion-padding-vertical) / 2);
    --padding-bottom: calc(var(--ion-padding-vertical) / 2);
    padding-top: calc(var(--ion-padding-vertical) / 2);
    padding-bottom: calc(var(--ion-padding-vertical) / 2);
}

.ion-standard-padding {
    --padding-top: calc(var(--ion-padding-vertical) / 2);
    padding-top: calc(var(--ion-padding-vertical) / 2);

    --padding-bottom: calc(var(--ion-padding-vertical) / 2);
    padding-bottom: calc(var(--ion-padding-vertical) / 2);

    padding-left: unset;
    padding-inline-start: var(--ion-padding);

    padding-right: unset;
    padding-inline-end: var(--ion-padding);
}

.ion-no-padding-bottom {
    --padding-bottom: unset;
    padding-bottom: unset;
}
// #endregion

// #region | Margin |
.ion-margin-horizontal-auto {
    margin-left: unset;
    margin-inline-start: auto;

    margin-right: unset;
    margin-inline-end: auto;
}

.ion-margin-vertical-auto {
    --margin-top: auto;
    margin-top: auto;

    --margin-bottom: auto;
    margin-bottom: auto;
}

.ion-margin-top-half {
    --margin-top: calc(var(--ion-padding) / 2);
    margin-top: calc(var(--ion-padding) / 2);
}

.ion-margin-top-vertical-half {
    --margin-top: calc(var(--ion-padding-vertical) / 2);
    margin-top: calc(var(--ion-padding-vertical) / 2);
}

.ion-margin-bottom-half {
    --margin-bottom: calc(var(--ion-padding) / 2);
    margin-bottom: calc(var(--ion-padding) / 2);
}

.ion-margin-bottom-vertical-half {
    --margin-bottom: calc(var(--ion-padding-vertical) / 2);
    margin-bottom: calc(var(--ion-padding-vertical) / 2);
}
// #endregion

// #region | Horizontal Scroll |
.ion-horizontal-scroll {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    *:first-child {
        width: fit-content;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
// #endregion

// #region | Box Shadow |
.ion-box-shadow {
    box-shadow: var(--ion-box-shadow) var(--ion-box-shadow-color);
}
// #endregion

// #region | Toolbar |
ion-toolbar {
    --background: #fff;
    --border-width: var(--ion-border-width);

    &.ion-reset-height {
        --min-height: unset;
    }
}
// #endregion

// #region | Chip |
ion-chip {
    font-size: 13px;
    padding: 7px 14px;

    :host {
    }
    &.chip-outline {
        border-width: var(--ion-border-width);
    }
}
// #endregion

// #region | Searchbar |
ion-searchbar {
    &.sc-ion-searchbar-ios-h {
        --background: var(--ion-color-gray-F00);
        --border-radius: var(--ion-border-radius-ms);
    }
}
// #endregion

// #region | Card |
ion-card {
    --background: #fff;
    box-shadow: var(--ion-box-shadow) var(--ion-box-shadow-color);
}
// #endregion

// #region | Typography |
// Use with h6
h6.ion-card-heading {
    color: var(--ion-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin: unset;
}

.ion-text-small {
    font-size: 10px;
    line-height: 10px;
}

.ion-text-light {
    font-size: 12px;
    line-height: 12px;
}

.ion-text-normal {
    font-size: 14px;
    line-height: 12px;
}

.ion-text-large {
    font-size: 16px;
}

.ion-font-thin {
    font-weight: 100;
}
.ion-font-light {
    font-weight: 300;
}
.ion-font-regular {
    font-weight: 400;
}
.ion-font-medium {
    font-weight: 500;
}
.ion-font-bold {
    font-weight: 700;
}
.ion-font-black {
    font-weight: 900;
}
// #endregion

// #region | List |
ion-list {
    --ion-item-background: #fff;
}
// #endregion

// #region | Item |
ion-item {
    --background: #fff;

    &.ion-reset-height {
        --min-height: unset;
    }

    &.ion-no-padding-end {
        --inner-padding-end: 0;
    }
}
// #endregion

// #region | Buttons |
ion-button {
    &.ion-reset-height {
        height: unset;
    }
}
// #endregion

// #region | Display |
.ion-block {
    display: block;
}
// #endregion

// #region |  |
// #endregion

// #region |  |
// #endregion
