<ion-header class="ion-box-shadow">

  <!-- Search Toolbar -->
  <ion-toolbar class="ion-no-padding">
    <ion-buttons slot="start" class="ion-margin-start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-searchbar showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>

  <!-- Categories Toolbar -->
  <ion-toolbar class="ion-no-padding ion-reset-height">
    <app-general-categories></app-general-categories>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding-top">

  <app-recent-searches class="ion-block ion-margin-bottom-vertical-half"></app-recent-searches>
  <app-people-suggestion class="ion-block ion-margin-bottom-vertical-half"></app-people-suggestion>
  <app-best-courses class="ion-block ion-margin-bottom-vertical-half"></app-best-courses>

</ion-content>