:host {
    .item-search {
        ion-avatar {
            width: 23px;
            height: 23px;
            margin: unset;
            margin-right: var(--ion-padding-vertical-half);

            .icon-search {
                font-size: 12px;
            }
        }

        .text-institution-name {
            margin-bottom: 6px;
        }

        &:last-of-type {
            margin-bottom: unset;
        }
    }
}
